.navbar_container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 2rem;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}
.navbar_container.scrolled {
  background-color: black;
  transition: background-color 0.3s ease-in-out;
}
.nav_container.bgWhite {
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}
.navbar_container.scrollwhite {
  background-color: white;
}

.navbar_container h2 {
  color: #ff5733;
  /* font-size: 2.5rem; */
  word-spacing: 1px;

  font-weight: 600;
}
.nav_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav_link_item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.nav_container p {
  color: white;
  /* font-size: 1.2rem; */
  word-spacing: 2px;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
}
.social_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.social_container img {
  width: auto;
  height: auto;
  max-width: 2rem;
  max-height: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.social_container img:hover {
  transform: scale(1.2);
}
.dropdown {
  position: relative;
}

.dropdown_trigger {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.dropdown_icon {
  transition: transform 0.3s ease-in-out;
}

.dropdown_menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  flex-direction: column;
  min-width: 10rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 0.5rem 0;
  color: black;
  z-index: 99;
}
.dropdown_menu {
  background-color: white;
  color: black;
}

.dropdown_item {
  padding: 0.5rem 1.25rem;
  white-space: nowrap;
  text-decoration: none;
  font-size: 0.95rem;

  transition: background-color 0.2s ease-in-out;
  font-size: 1rem;
}

.nav_link_item:hover .dropdown_menu {
  display: flex;
}
